@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bruno+Ace+SC&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Rock+Salt&family=Sigmar&family=Tourney:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

/* ----------------------------------------- */
/* ESTILOS GERAIS */
/* ----------------------------------------- */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #0d1d0d;
    color: white;
}


/* ----------------------------------------- */
/* BARRA LATERAL */
/* ----------------------------------------- */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: #1a2f1a;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 3px 0 8px rgba(0,0,0,0.4);
    
}

.sidebar a {
    text-decoration: none;
    color: #b8ffb8;
    padding: 12px 20px;
    background-color: #244224;
    border-radius: 6px;
    margin: 0 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #2f5b2f;
    scale: 1.05;
}

.sidebar .titulo-sidebar {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Zalando Sans Expanded", sans-serif;
    align-items: center;
}


.icone {
    width: 50px;
}


/* ----------------------------------------- */
/* CARROSSEL DE IMAGENS FUNDO */
/* ----------------------------------------- */
.fundo-rolando {
    position: absolute;
    top: 0;
    left: 350px;
    width: calc(100% - 350px);
    height: 100vh;
    overflow: hidden;
}

.fundo-rolando img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slide 18s infinite;
    opacity: 0;
}

.fundo-rolando img:nth-child(1) { animation-delay: 0s; }
.fundo-rolando img:nth-child(2) { animation-delay: 6s; }
.fundo-rolando img:nth-child(3) { animation-delay: 12s; }

@keyframes slide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

/* ----------------------------------------- */
/* MÚSICA DE FUNDO (ESCONDIDA) */
/* ----------------------------------------- */
audio {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0; /* AGORA cobre a tela inteira */
    width: 100%; /* não desconta a sidebar */
    background-color: rgba(0, 0, 0, 0.8); 
    color: #f2f2f2;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    font-family: "Century Gothic", sans-serif;
    letter-spacing: 0.5px;
    z-index: 99999; /* fica na frente de tudo */
}



